@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Medium.ttf');
}

.root {
    /* These are needed for Popup */
    -fx-background-color: inherit;
    -fx-background-radius: inherit;
    -fx-background-insets: inherit;
    -fx-padding: inherit;

    -fx-font-size: 11pt;
    -fx-font-family: "Roboto";
}

.text {
    -fx-font-family: "Roboto";
}

.field-box {
    -fx-background-color: rgba(255, 255, 255, 0.2);
    -fx-background-radius: 4;
}

.field-icon-container {
    -fx-background-color: rgba(0, 0, 0, 0.4);
    -fx-background-radius: 4 0 0 4;
}

.text-field:disabled {
    -fx-opacity: -fx-disabled-opacity;
}

.text-field, .password-field {
    -fx-background-color: transparent;
    -fx-border-color: rgba(255, 255, 255, 0.15);
    -fx-border-radius: 0 4 4 0;
    -fx-text-fill: white;
    -fx-prompt-text-fill: white;
    -fx-fill: white;
    -fx-highlight-text-fill: white;
    -fx-highlight-fill: rgba(55, 55, 55, 0.5);
}

.text-field:hover, .text-field:focused,
.password-field:hover, .password-field:focused {
    -fx-background-color: rgba(255, 255, 255, 0.10);
    -fx-border-color: rgba(255, 255, 255, 0.44);
}

.image-strip:vertical *.line {
    /*-fx-border-color: rgba(0, 0, 0, 0.35);*/
    -fx-border-style: solid;
    -fx-border-width: 0 1 0 0;
}

.button {
    -fx-background-color: rgba(76, 226, 80, 0.71);
    /*-fx-background-radius: 4px;*/
    -fx-border-width: 0;
    /*-fx-border-color: rgba(255, 255, 255, 0.5);*/
    /*-fx-border-radius: 4px;*/
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}

.button:disabled {
    -fx-background-color: #50cd38;
}

.button:hover {
    -fx-background-color: #4ccd50;
}

.button:pressed {
    -fx-background-color: linear-gradient(#4ccd50, #4CE250);
}

/*==================== Выбор сервера =====================*/

/*.list-view { !* FX theme stylesheet *!*/
/*-fx-background-color: red;*/
/*-fx-background-insets: 0;*/
/*-fx-padding: 10px;*/
/*-fx-border-color: cyan;*/
/*-fx-border-insets: 0 0 0 0*/
/*}*/
/*.list-cell {*/
/*-fx-background-color: green;*/
/*-fx-background-insets: 0;*/
/*-fx-padding: 8px;*/
/*-fx-border-color: blue;*/
/*-fx-border-width: 0;*/
/*-fx-border-insets: 0 0 0 0*/
/*}*/

/*.list-cell:filled:hover {*/
/*-fx-background-color: grey;*/
/*}*/

/*.list-cell:filled:selected,*/
/*.list-cell:filled:selected:hover {*/
/*-fx-background-color: black;*/
/*}*/

.combo-box {
    -fx-background-color: transparent;
    -fx-border-color: rgba(255, 255, 255, 0.44);
    -fx-border-width: 1px;
    -fx-border-radius: 0 4px 4px 0;

}

.combo-box:hover {
    -fx-background-color: rgba(255, 255, 255, 0.10);
}

.combo-box:showing {
    -fx-background-color: rgba(255, 255, 255, 0.9);
    -fx-background-insets: 0;
    -fx-background-radius: 0 4px 0 0;

    -fx-border-width: 0;
    -fx-border-radius: 0 4px 0 0;

}

.combo-box > .list-cell .text {
    -fx-fill: white;
    -fx-font-size: 14px;

}

.combo-box:showing > .list-cell .text {
    -fx-fill: black;
}

.combo-box .list-view {

    -fx-padding: 0;
    -fx-background-color: rgba(255, 255, 255, 0.95);
    -fx-background-insets: 0;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 12, 0.0, 0, 8);
    -fx-background-radius: 0 0 4 4;
    -fx-border-width: 0;
    -fx-border-insets: 0;
}

.combo-box-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell {
    -fx-padding: 8 0 8 10;
    -fx-background-color: transparent;
    -fx-border-width: 0;
    -fx-border-insets: 0;
}

.combo-box-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:hover {
    -fx-background: yellow;
    -fx-background-color: rgba(0, 141, 255, 0.36);
    -fx-background-insets: 0;
    -fx-border-width: 0;
    -fx-border-insets: 0;
    -fx-background-radius: 4;
}

.combo-box-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected,
.combo-box-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected:hover {
    -fx-background: -fx-accent;
    -fx-background-color: rgba(0, 110, 213, 0.74);
    -fx-background-insets: 0;
    -fx-border-width: 0;
    -fx-border-insets: 0;
    -fx-background-radius: 4;
}

.check-box {
    -fx-text-fill: white;
}

.check-box .box {
    -fx-background-color: transparent;
    -fx-border-color: white;
}

.check-box:selected .mark {
    -fx-background-color: white;
}

#settings-box {
    -fx-background-color: rgba(255, 255, 255, 0.2);
    -fx-background-radius: 2;
}

#settings-box .text-field {
    -fx-border-color: white;
}

/*=====================Иконки=====================*/
#vk {
    -fx-background-image: url("../images/vk.png");
    /*-fx-background-repeat: no-repeat;*/
    /*-fx-background-size: 24px;*/
}

#copyright {
    -fx-font-size: 11px;
}

/*******************************************************************************
 *                                                                             *
 * ProgressBar                                                                 *
 *                                                                             *
 ******************************************************************************/

.progress-bar > .track {
    -fx-background-color: -fx-text-base-color;
    -fx-background-radius: 2.0;
    -fx-padding: 0.0;
}

.progress-bar > .bar {
    -fx-background-color: #62ee32;
    -fx-background-radius: 2.0;
    -fx-background-insets: 0.0;
    -fx-border-width: 0.0;
    -fx-effect: null;
}

.progress-bar:indeterminate > .bar {
    -fx-background-color: #62ee32;
    -fx-background-radius: 2.0;
    -fx-background-insets: 0.0;
    -fx-border-width: 0.0;
    -fx-effect: null;
}
